@page "/register"
@using BlazorDemo.Core.Shared.Models;

<PageTitle>Register</PageTitle>

<h1>Register</h1>
<EditForm EditContext="EC">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <InputText Id="email" class="form-control" AutoComplete="off" @bind-Value="@RegisterModel.Email"></InputText>
        <ValidationMessage For="@(() => RegisterModel.Email)" />
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <InputText Id="password" class="form-control" type="password" AutoComplete="off" @bind-Value="@RegisterModel.Password"></InputText>
        <ValidationMessage For="@(() => RegisterModel.Password)" />
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
        <InputText Id="confirm-password" class="form-control" AutoComplete="off" type="password" @bind-Value="@RegisterModel.ConfirmPassword"></InputText>
        <ValidationMessage For="@(() => RegisterModel.ConfirmPassword)" />
    </div>
    
    <button type="submit" @onclick="HandleRegistration" class="btn btn-primary">Submit</button>
</EditForm>


@code {
    private EditContext EC { get; set; }
    
    private RegisterUserModel RegisterModel { get; set; } = new RegisterUserModel();

    protected override async Task OnInitializedAsync()
    {
        EC = new EditContext(RegisterModel);
        this.StateHasChanged();
    }

    private async Task HandleRegistration()
    {
        if (EC.Validate())
        {
            
        }
    }
}
